numexpr
cython
psutil
pyzmq
msgpack_python
pyopengl
git+https://github.com/zeromq/pyre
git+https://github.com/pupil-labs/PyAV
git+https://github.com/pupil-labs/pyuvc
git+https://github.com/pupil-labs/pyndsi
git+https://github.com/pupil-labs/pyglui
